<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="HtmlAgilityPack" version="1.4.9.5" targetFramework="wp81" />
  <package id="MSBuilder" version="0.1.0" targetFramework="wp8" />
  <package id="MSBuilder.CodeTaskAssembly" version="0.1.0" targetFramework="wp8" />
  <package id="MSBuilder.DownloadFile" version="0.1.5" targetFramework="wp8" />
  <package id="MSBuilder.IsXBuild" version="0.1.0" targetFramework="wp8" />
  <package id="PhoneThemeManager" version="2.1.1" targetFramework="wp81" />
  <package id="WPFFolderBrowser" version="1.0.2" targetFramework="wp81" />
</packages>